<br><br>


<div>
<dl><dd> <b>Alumno:</b> {{alumno}}</dd></dl> 

<dl><dd><b>Fecha: </b> {{fecha|date('d/m/Y')}}</dd></dl>  

<dl><dd> <b>Tipo de cuota:</b> {{tipocuota}}</dd></dl> 

<dl><dd><b>Valor: $</b> {{valorcuota}}</dd></dl>  
</div>

<dl><dd>
<div>
      <img src="{{ asset('web/uploads/brochures'~'/'~horario.brochure) }}"" /> 
</div>

</dd></dl>
